
.workspace-sidebar {
    display: none;
}


.layout-side-section {
    display: none;
}


.layout-main-section {
    width: 100% ;  
    transition: width 0.3s ease; 
}

li.nav-item.dropdown-help.dropdown-mobile.d-none.d-lg-block {
    display: none !important;
}






/* Hide comment and like in list view */
.list-row-activity .comment-count,
.list-row-activity .list-row-like {
    display: none !important;
}


.list-row-head .list-liked-by-me {
    display: none !important;
}